.root {
    -fx-background-color: #2C2F33;
    -fx-text-fill: #ffffff;
}

.button {
    -fx-background-color: #7289DA;
    -fx-text-fill: #ffffff;
    -fx-font-size: 14pt;
    -fx-padding: 10px 15px;
}

.button:hover {
    -fx-background-color: #5865F2;
}

.list-view {
    -fx-background-color: #2C2F33;
    -fx-padding: 10px;
}

.list-cell {
    -fx-padding: 10px;
    -fx-background-color: #2C2F33;
    -fx-border-width: 0 0 1 0;
}

.label {
    -fx-font-size: 14pt;
    -fx-text-fill: #ffffff;
}

.add-button {
    -fx-background-color: #7289DA;
    -fx-text-fill: #ffffff;
    -fx-font-size: 14pt;
    -fx-min-width: 40px;
    -fx-min-height: 40px;
    -fx-border-radius: 50%;
    -fx-background-radius: 40;
    -fx-border-color: transparent;
}

.vbox {
    -fx-spacing: 10px;
    -fx-alignment: bottom-right;
}
